<!DOCTYPE html>
<html>
<head>
  <style>
    body {
      color: black;
    }
  </style>
</head>
<body>

<h4> <%= @heading %></h4>
<p><%= @text %> </p>

<body>
  <!-- Image loaded from the public directory -->
  <img src="/images/maps.png" alt="Map" class="img-fluid" style="width: 1000px;">

</body>